<ion-header>
  <ion-navbar>
    <ion-title>{{"WORKER_DETAIL" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="item-profile" text-center>
      <ion-slides dir="rtl" pager="true" speed="800" zoom="true" autoplay="2000" loop="true">
        <ion-slide>
          <ion-thumbnail item-start>
            <img src="{{worker.picture}}" text-center>
          </ion-thumbnail>
        </ion-slide>
        <!-- Worker image slider loop start -->
        <ion-slide *ngFor="let image of worker.images">
          <ion-thumbnail item-start>
            <img src="{{image.image}}" text-center>
          </ion-thumbnail>
        </ion-slide>
        <!-- Worker image slider loop end -->
      </ion-slides>
    </div>

    <table class="worker-info-table" width="100%">
      <tr>
        <td>{{"FULL_NAME" | translate}}</td>
        <td *ngIf="this.platform.dir() == 'ltr'">{{worker.en_full_name}}</td>
        <td *ngIf="this.platform.dir() == 'rtl'">{{worker.ar_full_name}}</td>
      </tr>
      <tr>
        <td>{{"NATIONALITY" | translate}}</td>
        <td *ngIf="this.platform.dir() == 'ltr'">{{worker.en_nationalities}}</td>
        <td *ngIf="this.platform.dir() == 'rtl'">{{worker.ar_nationalities}}</td>
      </tr>
      <tr>
        <td>{{"RELIGION" | translate}}</td>
        <td *ngIf="this.platform.dir() == 'ltr'">{{worker.en_religion_name}}</td>
        <td *ngIf="this.platform.dir() == 'rtl'">{{worker.ar_religion_name}}</td>
      </tr>
      <tr>
        <td>{{"TYPE_OF_WORK" | translate}}</td>
        <td *ngIf="this.platform.dir() == 'ltr'">{{worker.en_work_name}}</td>
        <td *ngIf="this.platform.dir() == 'rtl'">{{worker.ar_work_name}}</td>
      </tr>
      <tr>
        <td>{{"BIRTH_DATE" | translate}}</td>
        <td *ngIf="this.platform.dir() == 'ltr'">{{worker.birth_date_en}} ({{worker.age}} {{"YEARS" | translate}})</td>
        <td *ngIf="this.platform.dir() == 'rtl'">{{worker.birth_date_ar}} ({{worker.age}} {{"YEARS" | translate}})</td>
      </tr>
      <tr>
        <td>{{"MARITAL_STATUS" | translate}}</td>
        <td *ngIf="this.platform.dir() == 'ltr'">{{worker.en_marital_status}}</td>
        <td *ngIf="this.platform.dir() == 'rtl'">{{worker.ar_marital_status}}</td>
      </tr>
      <tr>
        <td>{{"PASSPORT_NUMBER" | translate}}</td>
        <td>{{worker.passport_number}}</td>
      </tr>
      <tr>
        <td>{{"NUMBER_OF_CHILDREN" | translate}}</td><td>{{worker.number_of_children}}</td>
      </tr>
      <tr>
        <td>{{"SALARY" | translate}}</td><td>{{worker.salary}}</td>
      </tr>
      <tr>
        <td>{{"HEIGHT" | translate}}</td><td>{{worker.height}} {{"CM" | translate}}</td>
      </tr>
      <tr>
        <td>{{"WEIGHT" | translate}}</td><td>{{worker.weight}} {{"KG" | translate}}</td>
      </tr>
      <tr>
        <td>{{"WORK_OUT_SIDE_HOME_COUNTRY" | translate}}</td>
        <td *ngIf="this.platform.dir() == 'ltr'">{{worker.en_work_outside_country}}</td>
        <td *ngIf="this.platform.dir() == 'rtl'">{{worker.ar_work_outside_country}}</td>
      </tr>
      <tr>
        <td>{{"YEAR_OF_EXPERIENCE" | translate}}</td>
        <td>{{worker.year_of_experience}}</td>
      </tr>
      <tr>
        <td>{{"LANGUAGE_SPEAK" | translate}}</td>
        <td *ngIf="this.platform.dir() == 'ltr'">{{worker.en_language_speak}}</td>
        <td *ngIf="this.platform.dir() == 'rtl'">{{worker.ar_language_speak}}</td>
      </tr>
      <tr>
        <td>{{"NAME_OF_COUNTRY" | translate}}</td>
        <td *ngIf="this.platform.dir() == 'ltr'">{{worker.work_outside_country_name}} {{"(" + worker.work_outside_from_en +" - "+ worker.work_outside_to_en +")"}}</td>
        <td *ngIf="this.platform.dir() == 'rtl'">{{worker.work_outside_country_name}} {{"(" + worker.work_outside_from_ar +" - "+ worker.work_outside_to_ar +")"}}</td>
      </tr>
      <tr>
        <td>{{"EDUCATION" | translate}}</td>
        <td *ngIf="this.platform.dir() == 'ltr'">{{worker.en_education_name}}</td>
        <td *ngIf="this.platform.dir() == 'rtl'">{{worker.ar_education_name}}</td>
      </tr>
    </table>
    <div class="note-section">
      <h4>{{"NOTE" | translate}}</h4>
      <p *ngIf="this.platform.dir() == 'ltr'">{{worker.en_notes}}</p>
      <p *ngIf="this.platform.dir() == 'rtl'">{{worker.ar_notes}}</p>
    </div>

    <!-- Apply worker form start -->
    <form [formGroup]="workerApply" (ngSubmit)="applyWorker()" method="post" padding>
      <input type="hidden" [(ngModel)]="apply.language" formControlName="language" />
      <ion-item no-padding>
        <ion-label floating>{{"SELECT_WORKER" | translate}}</ion-label>
        <ion-select *ngIf="this.platform.dir() == 'ltr'" [(ngModel)]="apply.id_worker" formControlName="id_worker">
          <ion-option *ngFor="let worker_id of workerIds" value="{{worker_id.id}}">
            {{worker_id.en_full_name}}
          </ion-option>
        </ion-select>

        <ion-select *ngIf="this.platform.dir() == 'rtl'" [(ngModel)]="apply.id_worker" formControlName="id_worker">
          <ion-option *ngFor="let worker_id of workerIds" value="{{worker_id.id}}">
            {{worker_id.ar_full_name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>{{"NAME" | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="apply.name" formControlName="name"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>{{"EMAIL" | translate}}</ion-label>
        <ion-input type="email" [(ngModel)]="apply.email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>{{"MOBILE" | translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="apply.mobile_number" formControlName="mobile_number"></ion-input>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>{{"IS_VISA_READY" | translate}}</ion-label>
        <ion-select [(ngModel)]="apply.is_visa_ready" formControlName="is_visa_ready">
          <ion-option value="yes">{{"YES" | translate}}</ion-option>
          <ion-option value="no">{{"NO" | translate}}</ion-option>
          <ion-option value="work_on_it">{{"WORK_ON_IT" | translate }}</ion-option>
          <ion-option value="i_want_some_help">{{"I_WANT_SOME_HELP" | translate }}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item no-padding>
        <ion-label floating>{{"NOTE" | translate}}</ion-label>
        <ion-input type="text" [(ngModel)]="apply.note" formControlName="note"></ion-input>
      </ion-item>

      <button type="submit" [disabled]="!workerApply.valid" ion-button margin-top color="golden" round full>{{"APPLY" | translate}}</button>
    </form>
    <!-- Apply worker form end -->
</ion-content>
