.worker-info-table td {padding: 12px 10px 12px 10px; font-size: 14px; color: #333;}
.worker-info-table tr:nth-child(even) td {background-color: #F3F3F3;}
.worker-info-table td:first-child {font-weight: bold; width: 50%;}
.note-section { padding: 15px 10px; font-size:12px;text-align: justify;}
.note-section h4{ font-size: 14px;  margin:0; padding: 0;}
[dir="rtl"] .item-label-stacked .text-input,
[dir="rtl"] .item-label-floating .text-input
{text-align: right;}
