.item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img{
  height: 70px;
  width: 70px;
}
.label-ios {margin: 8px 8px 8px 0;}
.label-md {
    margin: 8px 8px 8px 0;
}
.home-list .item-ios, .home-list .item-md { padding-left: 0;}
.home-list  ion-thumbnail {margin-left: 16px!important;}
.home-list .item-md.item-block .item-inner {padding-right: 0;}
.home-list .item-ios[detail-push] .item-inner,
.home-list button.item-ios:not([detail-none]) .item-inner,
.home-list a.item-ios:not([detail-none]) .item-inner {background-position: right 0px center;border-bottom: none;}
.home-list .item-ios h2, .home-list .item-md h2 {color: #0054A5;}
[dir="ltr"] .item-ios[detail-push] .item-inner,
[dir="ltr"] button.item-ios:not([detail-none]) .item-inner,
[dir="ltr"] a.item-ios:not([detail-none]) .item-inner,
[dir="rtl"] .item-ios[detail-push] .item-inner,
[dir="rtl"] button.item-ios:not([detail-none]) .item-inner,
[dir="rtl"] a.item-ios:not([detail-none]) .item-inner {
  background-image: none;
}
[dir="ltr"] .home-list .item-ios ion-icon[item-left],
[dir="ltr"] .home-list .item-ios ion-icon[item-right],
[dir="ltr"] .home-list .item-ios ion-icon[item-start],
[dir="ltr"] .home-list .item-ios ion-icon[item-end] {
    margin-right:  -30px;
}
[dir="rtl"] .home-list .item-ios ion-icon[item-left],
[dir="rtl"] .home-list .item-ios ion-icon[item-right],
[dir="rtl"] .home-list .item-ios ion-icon[item-start],
[dir="rtl"] .home-list .item-ios ion-icon[item-end] {
  margin-left: -30px;
}

[dir="rtl"]  .home-list .item-ios, .home-list .item-md { padding-right: 0;}
[dir="rtl"]  .home-list  ion-thumbnail {margin-right: 16px!important;}
.home-list .item-md .item-block .item-inner { border-bottom: 0;}
[dir="rtl"] .home-list .item-md.item-block .item-inner {padding-left: 0;}
[dir="rtl"] .home-list .label-md {  margin: 5px 0 5px 8px;}
[dir="ltr"] .home-list .label-md {  margin: 5px 8px 5px 0;}
[dir="rtl"] .home-list .label-ios {  margin: 5px 0 5px 8px;}
[dir="ltr"] .home-list .label-ios {  margin: 5px 8px 5px 0;}
