<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>{{"WORKER_LISTING" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list class="home-list">
    <!-- Workers loop start -->
    <ion-item *ngFor="let worker of workers">
      <button menuClose ion-item (click)="getWorker(worker.worker_id)">
        <ion-thumbnail item-start>
          <img src="{{worker.small_picture}}">
        </ion-thumbnail>

        <p *ngIf="this.platform.dir() == 'ltr'">{{ worker.en_work_name +" - "+ worker.age}} {{"YEARS" | translate}}</p>
        <p *ngIf="this.platform.dir() == 'rtl'">{{ worker.ar_work_name +" - "+ worker.age}} {{"YEARS" | translate}}</p>

        <p *ngIf="this.platform.dir() == 'ltr'">{{worker.en_nationalities +' - '+ worker.en_work_name}}</p>
        <p *ngIf="this.platform.dir() == 'rtl'">{{worker.ar_nationalities +' - '+ worker.ar_work_name}}</p>
        <ion-icon color="a9a9a9" ios="ios-arrow-forward" md="ios-arrow-forward" clear item-end></ion-icon>
      </button>
    </ion-item>
    <!-- Workers loop end -->
    <h3 *ngIf="workers == ''" text-center>{{"NO_WORKER_FOUND" | translate}}</h3>
  </ion-list>
</ion-content>
